
html, body {
  margin: 0;
  padding: 0;
  height:100%;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (min-width:600px) {
  div#container {
    width: 500px;
  }
  div.groupName {
    display: inline-block;
    min-width: 50%;
  }
}

@media screen and (max-width:599px) {
  div#container {
    width: 300px;
  }
  div.groupName {
    min-width: 10€0%;
  }
}

div#container {
  margin: 0 auto;
  height: 100%;
}

div#words-panel {
  width: 100%;
  height: 100%;
  text-align: center;
}

div.groupName {
  font-size: 2em;
  text-align: center;
  background-color: lightgray;
  border: solid white 5px;
  padding: 1em;
}

div#group-panel {
  max-width: 500px;
}

div#words-panel:not(.hidden) {
  font-size: 4em;
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}

.hidden {
  display: none;
}

h1 {
  font-size: 1.2em;
  font-family: arial;
  margin: 1em;
  text-align: center;
}
